* {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("assets/vivid-blurred-colorful-wallpaper-background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.action-button {
  padding: 14px;
  border: black solid 2px;
  background-color: transparent;
  color: black;
  font-size: 14px;
  cursor: pointer;
  width: 136px;
  height: 48px;
  margin-left: auto;
  margin-right: 60px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  text-decoration: none;
}

.auth-card {
  background: white;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  font-family: sans-serif;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  width: 1161px;
  height: 684px;
}

.auth-card-left {
  width: 561px;
}

.auth-card-left img {
  height: 100%;
}

.auth-card-right {
  width: 600px;
  padding: 0px 110px 0px 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
}

.auth-card-right h2 {
  margin: 0;
  text-align: center;
  font-size: 48px;
  font: 700;
  background: linear-gradient(90deg, #8fcef5, #4986db);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.auth-card-right .checkbox {
  color: gray;
  display: flex;
  align-items: center;
  font-size: smaller;
}

.auth-card p {
  margin: 0;
  font-size: 13px;
  text-align: center;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.inputs .input {
  display: flex;
  flex-direction: column;
  padding: 14px 14px;
  border: 1px solid black;
  font-size: x-small;
}

.inputs input {
  border: 0;
  outline: none;
  padding: 0;
  font-size: small;
}

.password {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.eye {
  height: 16px;
  color: gray;
  cursor: pointer;
}

.auth-card-right button {
  padding: 14px;
  border: none;
  background: black;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.account {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.options {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.copyright {
  font-weight: 300;
  font-size: 13px;
  text-align: center;
  color: #616161;
}
